
@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Play:wght@400;700&display=swap');
@font-face {
  font-family: 'Helvetica Neue Medium Extended';
  src: url('../fonts/helvetica-Neue-Medium-Extended.woff2') format('woff2'),
      url('../fonts/helvetica-Neue-Medium-Extended.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}



:root{
  --black:#000;
  --white:#fff;
  --gray-bg:#FFF9F1;
  --orange:#E65100;
  --heading-color:#7D533A;
  --text-color:#5F290C;
  --primary-font: 'Inter', sans-serif;
  --heading-font: 'Helvetica Neue Medium Extended', sans-serif;
  --text-font: "Play", sans-serif;

}

*,
*::before,
*::after {box-sizing: border-box; }
.d-flex {display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;display: flex; }
.flex-row {flex-direction: row; }
.flex-column {flex-direction: column; }
.flex-row-reverse {flex-direction: row-reverse; }
.flex-column-reverse {flex-direction: column-reverse; }
.flex-wrap {flex-wrap: wrap; }
.flex-nowrap {flex-wrap: nowrap; }
.flex-wrap-reverse {flex-wrap: wrap-reverse; }
.justify-content-start {justify-content: flex-start; }
.justify-content-end {justify-content: flex-end; }
.justify-content-center {justify-content: center; }
.justify-content-between {justify-content: space-between; }
.justify-content-around {justify-content: space-around; }
.justify-content-evenly {justify-content: space-evenly; }
.align-items-start {align-items: flex-start; }
.align-items-end {align-items: flex-end; }
.align-items-center {align-items: center; }
.align-items-baseline {align-items: baseline; }
.align-items-stretch {align-items: stretch; }
.align-content-start {align-content: flex-start; }
.align-content-end {align-content: flex-end; }
.align-content-center {align-content: center; }
.align-content-between {align-content: space-between; }
.align-content-around {align-content: space-around; }
.align-content-stretch {align-content: stretch; }
.align-self-auto {align-self: auto; }
.align-self-start {align-self: flex-start; }
.align-self-end {align-self: flex-end; }
.align-self-center {align-self: center; }
.align-self-baseline {align-self: baseline; }
.align-self-stretch {align-self: stretch; }
.text-center {text-align: center; }
.sub-menu-toggle{display: none !important;}
body {margin: 0;padding: 0;font-style: normal;font-family: var(--text-font);font-size: 18px;font-weight:400;line-height: normal;color: var(--text-color);overflow-x: hidden!important;-webkit-font-smoothing: antialiased;}
figure{margin: 0;}
section{position: relative;}
input,select,textarea{font-family: var(--primary-font);}
a,a:hover {text-decoration: none;cursor: pointer;color: var(--black); }
button {min-width: inherit;cursor: pointer; }
img{display: block;}
button:focus {outline: none; }
h1, h2, h3, h4, h5, h6{margin: 0; padding: 0;font-weight: normal; font-family: var(--heading-font);color: var(--black);}
ul, li, ol {margin: 0;padding: 0;list-style: none;color: var(--black); }
.custom-container {max-width: 1300px;padding: 0 10px;margin: 0 auto; } 
.wrapper {width: 100%;position: relative; }
.img-fluid {max-width: 100%;height: auto; }
p {margin: 0; padding: 0;color: var(--text-color);font-size: 18px;font-style: normal;font-weight: 400;line-height: noraml;font-family: var(--text-font);}
p + p{margin-top: 20px;}
b {font-weight: 700; }
input, select, button, textarea{outline: none;box-shadow: none;}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {color: var(--black);}
input::-moz-placeholder,
textarea::-moz-placeholder {color:  var(--black);}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {color:  var(--black);}
input:-moz-placeholder,
textarea:-moz-placeholder {color:  var(--black);}

.gary-bg{background-color: var(--gray-bg);}

.btn-custom{background: #2E7D32;color: var(--white);font-size: 16px;padding: 16px 26px;border:1px solid #2E7D32;box-shadow: none;outline: none;transition: 0.3s;font-family: var(--text-font);border-radius: 8px;font-weight: 700;line-height: normal;display: flex;white-space: nowrap;max-width: max-content;}
.btn-custom:hover{background-color:var(--orange);color: var(--white);}

.btn-custom.orange{background: #E65100;border:1px solid #E65100;}


.slick-arrow {position: absolute;top: 50%;transform: translateY(-50%);z-index: 1;cursor: pointer;background-color: var(--orange);border-radius: 100%;width: 36px;aspect-ratio: 100/100;display: flex;align-items: center;justify-content: center;}
.slick-arrow:hover span{background-color: var(--black);}
.slick-next{right: 0;}
.slick-prev{left: 0;}

.sec-heading h5{font-family: var(--text-font);font-style: normal;font-weight: 400;font-size: 18px;line-height: 1.166;color: #240F03;text-transform: uppercase;}
.sec-heading h2{font-size: 50px;line-height: 1.1;margin: 10px 0;color:#5F290C ;}

.close-menu{cursor: pointer;text-align: right;width: 24px;margin-left: auto;}
    


/********* header *************/
header{width: 100%;position: relative;background-color:#FFF8F5;border-bottom: 1px solid rgba(36, 15, 3, 0.4);}
.main-header{padding: 20px 0;}
.annoucebar{background-color: var(--orange);padding: 6px;text-align: center;color: var(--white);}
.main-header .logo a img{height: 56px;width: auto;}
.header-menu ul{display: flex;align-items: center;}
.header-menu ul li{font-size: 16px;font-family: var(--primary-font);padding: 10px;}
.header-menu ul li a{color:#240F03;opacity: 0.40;}
.header-menu ul li:hover a{opacity: 1;}
.header-right button{margin: 0 0 0 20px;padding: 0;border: 0;background-color: transparent;}
footer{background-color: #E65100;overflow: hidden;}
.footer-top{padding: 80px 0;}
.footer-top-left{max-width: 590px;}
.footer-top-left .logo a img{height: 80px;width: auto;}
.footer-top-left h2{color: var(--white);font-size: 50px;line-height: 1.1;margin-top: 60px;}
.footer-top-right{max-width: 590px;}
.footer-top-right h3{color: var(--white);font-size: 24px;line-height: normal;}
.message-form{margin-top: 40px;}
.message-form input{padding: 16px;border: 1px solid #FFFFFF;border-radius: 8px;font-size: 16px;background-color: transparent;color: var(--white);font-weight: bold;width: 100%;}
.message-form button{margin-left: 20px;}
.message-form input::-webkit-input-placeholder{color: rgba(255, 255, 255,0.20);}
.message-form input::-moz-placeholder {color:  rgba(255, 255, 255,0.20);}
.message-form input:-ms-input-placeholder{color:  rgba(255, 255, 255,0.20);}
.message-form input:-moz-placeholder {color:  rgba(255, 255, 255,0.20);}
.footer-bottom{border-top:1px solid rgba(255, 255, 255,0.30)}
.footer-bottom-top{padding: 80px 0;    position: relative;}
.footer-bottom-top::before{content: "";background-image: url('../images/rangoli-white.png');background-repeat: no-repeat;background-size: contain;background-position: center center;width: 780px; aspect-ratio: 100 / 100;position: absolute;left: 0;right: 0;margin: auto;top: 0;}
.footer-menu h3{font-size: 24px;color: var(--white);}
.footer-menu .list,
.footer-menu ul{margin-top: 50px;}
.footer-menu ul li {font-size: 22px;padding: 20px 0;border-bottom:1px solid rgba(255, 255, 255,0.30);min-width: 200px;}
.footer-menu ul li a{color: var(--white);}
.footer-menu .list p {font-size: 22px;padding: 20px 0;border-bottom:1px solid rgba(255, 255, 255,0.30);min-width: 200px;color: var(--white);margin: 0;}
.footer-menu .list p a{color: var(--white);}
.copyright{padding: 24px 0;}
.social-media{display: flex;align-items: center;}
.copyright p{color: var(--white);}




.banner{position: relative;background-color:#FFF8F5;padding: 80px 0 0 0;}
.banner::before{content: "";background-image: url('../images/rangoli.png');background-repeat: no-repeat;background-size: contain;background-position: center center;width: 780px; aspect-ratio: 100 / 100;position: absolute;left: 0;right: 0;margin: auto;top: 0;}
.banner-left{max-width: 790px;}
.banner-left h1{font-size: 90px;color: #5F290C;line-height: 1;}
.banner-left p{max-width: 375px;margin-top: 20px;}
.banner-left-image{margin-top: 90px;margin-left: -80px;}
.banner-left-image img{border-radius: 40px;width: 268px;aspect-ratio: 100/116;}
.banner-right{max-width: 405px;}
.banner-right p{text-align: right;}
.banner-right-image{margin-top: 82px;}
.banner-right-image img{border-radius: 40px;width: 492px;aspect-ratio: 100/115.4;}
.scroll-to-next {text-align: center;bottom: 20px;width: 100%;position: absolute;left: 0;}
.scroll-to-next a{color: #5F290C;text-transform: uppercase;}
.about-us{padding: 130px 0 280px 0;background-color: var(--white);}
.about-left {max-width: 380px;}
.about-left .buttons{margin-top: 40px;}
.about-right{max-width: 652px;}
.big-text{position: absolute;left: 0px;right: 0;bottom: 0;color: #E65100;opacity: 0.1;text-transform: uppercase;font-size: 260px;font-weight: 700;line-height: 0.7;text-align: center;max-width: 1440px;margin: 0 auto;}
.big-text.lets-connect{font-size: 190px;}

.products-left {max-width: 513px;}
.home-products{background-color: #FFF8F5;padding: 130px 0;}
.product-list{margin: 60px 0;}
.product-list .slick-list{margin-left: -10px;margin-right: -10px;overflow: visible;}
.product-list .item{padding: 0 10px;}
.product-list .box img{border-radius: 20px;width: 100%;aspect-ratio: 100 / 116;object-fit: cover;object-position: center;}
.product-list .content{margin-top: 20px;}
.product-list .content h3{font-size: 26px;line-height: normal;font-weight: normal;}
.product-list .content .cart-button{margin-top: 20px;}
.product-list .content .btn-add-to-cart{color: #E65100;padding: 4px 0;border-bottom: 1px solid #E65100;margin-top: 20px;}
.product-list .produt-like{background-color: transparent;border: 0;padding: 0;}
.why-choose{padding: 130px 0;}
.why-choose .sec-heading{max-width: 513px;margin: 0 auto;}
.why-choose-list {margin-top: 60px;}
.why-choose-list .item {counter-increment: count;display: flex;align-items: center;padding: 50px 0 50px 110px;border-bottom: 1px solid rgba(36, 15, 3, 0.2);position: relative;}
.why-choose-list .item h3{font-weight: 500;font-size: 24px;line-height: 1.20;text-transform: capitalize;color: #E65100;max-width: 260px;}
.why-choose-list .item p{max-width: 418px;margin-left: 40px;}
.why-choose-list .item .arrows{margin-left: auto;}
.why-choose-list .item:first-child{border-top: 1px solid rgba(36, 15, 3, 0.2);}
.why-choose-list .item:before {content: counter(count);font-family: var(--heading-font);font-style: normal;font-weight: 500;font-size: 30px;line-height: 1.87;text-transform: capitalize;color: #2E7D32;position: absolute;left: 0;top:50%;transform: translateY(-50%);}
.why-choose-list .item:nth-child(-n+9):before {content: '0'counter(count)'.';}
.why-choose-image{position: absolute;top: -33px;right: 157px;transform: rotate(-8.44deg);}
.why-choose-image img{border-radius: 20px;width: 192px;aspect-ratio: 100/115;object-fit: cover;object-position: center;}
.why-choose-list-sec{position: relative;}
.home-category{padding: 130px 0;background-color: #FFF8F5;}
.category-list{display: flex;flex-wrap: wrap;margin-left: -10px;margin-right: -10px;margin-top: 60px;}
.category-list .item{width: 50%;display: flex;}
.category-list .image-box{width: 50%;padding:10px;}
.category-list .image-box img{width: 100%;border-radius: 20px;aspect-ratio: 100/120;object-position: center; object-fit: cover;}
.category-list .content{width: 50%;padding:10px;}
.category-list .details{background: #FFF8F5;border: 1px solid rgba(95, 41, 12, 0.2);border-radius: 20px;padding: 40px 20px;height: 100%;display: flex;flex-direction: column;justify-content: space-between;}
.category-list .details h3 a{font-size: 20px;line-height: 24px;text-transform: capitalize;color: #5F290C;}
.category-list .item:nth-child(2) .details{background: rgba(95, 41, 12, 0.4);}
.category-list .item:nth-child(3) .details{background: rgba(46, 125, 50, 0.4);}
.category-list .item:nth-child(3),
.category-list .item:nth-child(4){flex-direction: row-reverse;}

.testimonials{padding: 130px 0 248px;position: relative;}
.testimonials-left{max-width: 313px;}
.testimonials-slider{width: calc(100% - 400px);}
.testimonials-slider .slick-list{margin-left: -10px;margin-right: -10px;overflow: visible;}
.testimonials-slider .item{padding: 10px;}
.testimonials-slider .box{padding: 20px;border: 1px solid rgba(36, 15, 3, 0.3);border-radius: 20px;}
.testimonials-slider .box .quota img{height: 50px;width: auto;}
.testimonials-slider .box .content{margin-top: 40px;}
.testimonials-slider .box .image-with-name{margin-top: 40px;display: flex;align-items: center;}
.testimonials-slider .box .userImage{width: 70px;aspect-ratio: 100/100;border-radius: 100%;background:#D9D9D9;}
.testimonials-slider .box .userImage img{width: 100%;height: 100%;object-fit: cover;object-position: center center;}
.testimonials-slider .box .name{margin-left: 20px;}
.testimonials-slider .box .name h4{font-style: normal;font-weight: 500;font-size: 20px;line-height: 1.2;text-transform: capitalize;color: #5F290C;}
.testimonials-slider .box .name p{margin-top: 6px;}

@media only screen and (min-width: 1600px) {
  .custom-container {max-width: 1580px;}
}
@media only screen and (min-width: 1500px) {
  body{font-size: 24px;}
  .header-menu ul li{font-size: 24px;}
  .custom-container {max-width: 1400px;}
  p{font-size: 24px;}
  .btn-custom {font-size: 24px;}
  .sec-heading h5 {font-size: 24px;}
}

@media only screen and (min-width: 992px) and (max-width:1199px) {
  
}
@media only screen and (min-width: 768px) and (max-width:991px) {
 

  
}
@media screen and (min-width: 768px){
  .display-mobile{display: none;}
  .mobile-menu{display: none;}
  .close-menu{display: none;}
 
}
@media only screen and (max-width: 767px){  
  p{font-size: 14px}
  .display-desktop{display: none;}
  .header-menu {position: fixed;  top: 0;  left: -100%;  margin-top: 0;  background-color: var(--white);  max-width: 320px;  width: 100%; transition: 0.5s;  height: 100%; padding: 30px;  z-index: 1;}
  body.show-menu .header-menu {left: 0;}
  .header-menu ul {flex-direction: column;}
  .main-header .logo a img{height: 40px;}
  .header-right button{margin-left: 5px;}
  .banner{padding: 0 0 30px 0;}
  .banner .wrapper{flex-wrap: wrap;}
  .banner-left{width: 100%; display: flex;flex-direction: column;}
  .banner-left h1 {font-size: 30px;text-align: center; order: 2;position: relative;}
  .banner-left p{text-align: center;order: 3;position: relative;margin-left:auto;margin-right: auto;}
  .banner-right{margin: 0 auto;}
  .banner-left-image{margin: 30px 0 15px; order: 1;position: relative;}
  .banner-left-image img{margin: 0 auto;}
  .banner-right-image img{max-width: 268px;margin: 0 auto;}
  .banner-right{display: flex;flex-direction: column;}
  .banner-right p{text-align: center; order: 2;position: relative;}
  .banner-right-image{margin: 30px 0 15px; order: 1;position: relative;}
  .scroll-to-next{position: relative;bottom: 0;margin-top: 25px;}
  .about-us{padding: 30px 0;}
  .about-us .wrapper{flex-wrap: wrap;}
  .about-left{text-align: center;margin: 0 auto;}
  .about-left .buttons{margin-top: 15px;}
  .btn-custom{margin: 0 auto; padding: 16px 16px;}
  .about-right{margin-top: 30px;text-align: center;}
  .sec-heading h2 {font-size: 30px;}
  .big-text{font-size: 70px;}
  .home-products{padding: 30px 0;}
  .home-products .wrapper{flex-wrap: wrap;}
  .products-left{text-align: center;margin: 0 auto;}
  .home-products .buttons{margin: 15px auto;}
  .product-list{margin: 15px 0;}
  .why-choose{padding: 30px 0;}
  .why-choose-image{position: relative;    top: 0;right: 0;left: 0;transform: none;margin: 15px 0;}
  .why-choose-image img{margin: 0 auto;}
  .why-choose-list .item{flex-direction: column;padding: 15px; }
  .why-choose-list .item:before{position: relative;left: 0;top: 0;transform: none;right: 0;margin: 0 auto;}
  .why-choose-list .item h3{max-width: 100%;text-align: center;}
  .why-choose-list .item p {max-width: 100%;margin-left: 0;margin-top: 15px;text-align: center;}
  .why-choose-list .item .arrows{margin: 15px auto 0;}
  .home-category{padding: 30px 0;}
  .category-list{margin-top: 15px;}
  .category-list .item{width: 100%;}
  .category-list .details {border-radius: 10px;padding: 15px 15px;}
  .category-list .item:nth-child(3), .category-list .item:nth-child(4){flex-direction: row;}
  .testimonials{padding: 30px 0 50px;}
  .testimonials .wrapper{flex-wrap: wrap;}
  .testimonials-left{max-width: 100%;text-align: center;margin: 0 auto;}
  .testimonials-slider{width: 100%;margin-top: 15px;}
  .big-text.lets-connect {font-size: 49px;}

  .footer-top{padding: 30px 0;}
  .footer-top-left{max-width: 100%;}
  .footer-top-right{max-width: 100%;width: 100%;}
  .footer-top-left .logo a img{margin: 0 auto;}
  .footer-top-left h2{margin-top: 15px;font-size: 30px;text-align: center;}
  .footer-top-right{text-align: center;margin-top: 30px;}
  .footer-top-right h3{font-size: 20px;}
  .message-form{margin-top: 40px;}
  .footer-bottom-top{padding: 30px 0;}
  .footer-bottom-top .wrapper{flex-wrap: wrap;}
  .footer-menu{text-align: center;width: 100%;        margin: 30px 0}
  .footer-menu .list, .footer-menu ul{margin-top: 15px;}
  .footer-menu .list p,
  .footer-menu ul li{padding: 10px 0;font-size: 16px;}
  .copyright .wrapper{flex-wrap: wrap;justify-content: center;}
}
@media only screen and (max-width: 575px){
}



